 .login-form {
     align-items: center;
     display: flex;
     flex-direction: column;
     height: 100vh;
     justify-content: center;
 }

 .login__header {
     align-items: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-bottom: 50px;
 }

 #loginH1 {
     margin-right: 5px;
     color: #fff;
     font-size: 4em;
 }

 .login__input {
     border: 2px solid #fff;
     border-radius: 8px;
     color: #fff;
     font-size: 2em;
     margin-bottom: 20px;
     max-width: 400px;
     outline: none;
     padding: 20px;
     width: 500px;
 }

 .login__input::placeholder {
     color: #fff;
     font-size: 1.5em;
 }

 .flex {
     display: flex;
     align-items: center;
 }

 .flex * {
     margin-right: 5px;
 }

 .flex :last-child {
     margin-right: 0;
 }